
.wd-bold{
    font-weight: bold;
}
.wd-flex{
    display: flex;
}
.wd-avatar-1{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 10px;
}
.wd-profilepic{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border-style: solid;
    border-color: black;
}

.wd-space-between{
    justify-content: space-between;
    width: 100%
}
.wd-image-1{
    height: 100px;
    wdith: 100px;
    border-radius: 10px;
}
.wd-darkgrey{
    color: rgb(80,80,80);
}
.wd-magnify{
    position: relative;
    left: 30px;
    margin-top: 10px;
}
.form-control.wd-search-bar{
    border-radius: 20px;
    padding-left: 50px;
    width: 550px;
}

.wd-white{
    color: white;
}

.wd-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.wd-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.wd-large-text{
    font-weight: bold;
    font-size: 50px;
}

.wd-round-corner{
    border-radius: 20px;
}

.wd-border-top{
    border-top: 0.8px solid #3b3b3b;
}

.wd-bg-black{
    background-color: black;
}

.wd-tuiter-blue {
    color: rgb(29,161,242);
}

.wd-width-100{
    width: 100%;
}
.wd-width-80{
    width: 80%;
}
.wd-sm-font{
    font-size: 12px;
}
.wd-edit-border{
    border-style: solid;
    border-color: #3b3b3b;
}