/* this is created for the explore.html */

.wd-icon-1{
    margin-top: 4px;
    margin-right: 5px;
}
.wd-flex-1{
    display: flex;
}
.wd-tweet-block{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.wd-tweet-content-area{
    margin-right: 10px;
}
.wd-tweet-title-2{
    display: flex;
}
.wd-tweet-tile-1{
    color: darkgrey;
}
.wd-tweet-author{
    font-weight: bold;
}
.wd-tweet-time{
    color: darkgrey;
    margin-left: 5px;
}
.wd-tweet-num{
    color: darkgrey;
}
.wd-tweet-content{
    font-weight: bold;
}
.wd-tweet-pic{
    height: 100px;
    wdith: 100px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.wd-main-content{

}
.wd-search-and-gear{

}
.form-control.wd-search-bar{
    border-radius: 20px;
    padding-left: 50px;
    width: 550px;
}
.wd-magnify{
    position: relative;
    left: 30px;
    margin-top: 10px;
}
.wd-gear {
    color: rgb(29,161,242);
}
.wd-hyperlink{
    margin-top: 10px;
}
.wd-main-picture-area{
    margin-top: 10px;
}

.wd-main-picture{
    max-width: 620px;
}

.wd-explore-page{
}

.wd-navigation-bar{
}

.wd-cog-link{
    text-decoration: none;
}

.fa-stack{
    padding-left: 0;
}

.wd-search-input{
    display: flex;
}
.btn-primary.wd-override-button{
    border-radius: 20px;
    width: 100%;
}
.wd-whtf-font{
    font-weight: bold;
}

.wd-who-to-follow{
}

.wd-who-to-follow-block{
    display: flex;
}
.wd-who-to-follow-author-logo{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 10px;
}

.wd-who-to-follow-content{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.wd-who-to-follow-author-name{
    font-weight: bold;

}
.wd-who-to-follow-author-slug{
    font-color: black;
}
.wd-who-to-follow-button{
    margin-top: 5px;
}

.btn-primary.wd-override-follow-button{
    border-radius: 20px;
    width: 80px;
}
.wd-span-shrink{
    margin-left: 0px;
}

.wd-tweet{
    margin-top: 10px;
}
input::placeholder {
    color: white;
    font-family:verdana;
    font-size: 15px;
}

.wd-back-link {
    color: grey;
    font-family:verdana;
    font-size: 15px
}

.wd-tuiter-blue {
    color: rgb(29,161,242);
}

.wd-tuiter-grey {
    color: rgb(110, 118, 125);
}

.wd-border-color{
    color: rgb(47, 51, 54);
}

.wd-topic-font{
    font-family:verdana;
    font-size: 13px
}

.wd-white {
    color: white;
}



/* For for you */
.wd-border-bottom-thin{ border-bottom-width: 4px;
                    border-bottom-style: solid;}

/* The for you and other link needs this padding */
.wd-hyperlinks-padding{
    padding: 16px;
    text-decoration: none;
}

.wd-tuiter-general-font {
    font-weight: bold;
    font-family:verdana;
    font-size: 15px;
    margin-top: 5px;
}

.wd-tuiter-spacing{
    line-height: 7.5px;
}

.wd-author-font{
    font-weight: bold;
    font-family:verdana;
    font-size: 13px;
    color: white;
}
.wd-tuit-border{
    border-style: solid;
    border-color: rgb(47, 51, 54);
    max-width: 800px;
    padding-left: 12px;
}

.wd-search-and-hyperlink{
}

.wd-tuit-and-pic-border{
    border-style: solid;
    border-color: rgb(47, 51, 54);
    max-width: 800px;
    padding-left: 12px;
}

.wd-tuit-main-content{
    float: left;
    margin-top: 12px;
    margin-right: 20px;
}

.wd-float-done{
    clear: both;
}

.wd-tuit-content-header{
    display: flex;
}

.wd-time{
    margin-left: 5px;
}
